<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
  	<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />
	<title>Counties and Towns</title>
	<link rel="shortcut icon" th:href="@{/favicon_io/favicon.ico}">
	<meta charset="utf-8" />
</head>
<body>
    <div th:fragment="menu">
		<nav>
	       	<a th:href="@{/}" th:text="#{navigation.home}">Home</a>
	        <a th:href="@{/counties}" th:text="#{navigation.counties}">View all counties</a>
		    <a th:href="@{/towns}" th:text="#{navigation.towns}">View all Towns</a>
		    <span sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"><a th:href="@{/newtown}" th:text="#{navigation.newtown}">Add New Town</a></span>
		    <span sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/newcounty}" th:text="#{navigation.newcounty}">Add New County</a></span>
			<span sec:authorize="!isAuthenticated()">
				<a th:href="@{/login}" id="loginbutton" th:text="#{navigation.login}">Login Default</a>
			</span>
			<span sec:authorize="isAuthenticated()">
				<span sec:authentication="name">No Name</span>
				<a th:href="@{/logout}" id="logoutbutton" th:text="#{navigation.logout}">Logout Default</a>
			</span>
	    </nav>
    </div>

    <div th:fragment="footer">
		<span th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
    		<a th:href="@{${currentUrl}(lang=fr)}"><i class="flag-icon flag-icon-fr"></i></a>
		</span>
		<!--  adapted from https://stackoverflow.com/questions/27623405/thymeleaf-add-parameter-to-current-url -->
		<span th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
    		<a th:href="@{${currentUrl}(lang=ie)}"><i class="flag-icon flag-icon-ie"></i></a>
		</span>
	</div>
	
    
</body>
</html>