<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:insert="fragments.html :: head"></div>

<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{jobs.welcome}">The jobs</span> <span th:text="${name}"></span></h1>
	</header>
	<main>
	<table>
		<tr>
			<th th:text="#{job.id}">ID</th>
			<th th:text="#{job.job}">job</th>
		</tr>

		<tr th:each="job,iterationCount : ${jobs}" th:class="${iterationCount.odd}? 'odd'" th:object="${job}"	>			
			<td th:text="*{jobId}">1</td>
			<td><a th:text="*{jobName}" th:href="@{job/} + *{jobId}">job</a></td>
		</tr>
	</table>
	</main>
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>