<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>

<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{newbid.heading}">Add a Town</span></h1>
	</header>

 
<main>
	<h3 class="error" th:if="${duplicate}" th:text="#{newbid.duplicate}">Error</h3>
	<form method="post" th:action="@{/newbid}" th:object="${bidForm}">
		<label for="bidAmount" th:text="#{newbid.bidAmount}" ></label>
			<input id="bidAmount" type="text" th:field="*{bidAmount}"/>
		        <span th:if="${#fields.hasErrors('bidAmount')}" th:errors="*{bidAmount}" >Error</span>
		<br>
		<!-- <label for="job" th:text="#{newbid.choosejob}"></label>
		<select th:field="*{jobId}">
			<option  th:each="job: ${jobs}" th:text="${job.jobName}" th:value="${job.jobId}"/>
		</select> -->
		<br>
		<input type="submit" th:value="#{newbid.addbid}"/>
	</form>
	</main>
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>

