<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>


<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{newjob.heading}">Job</span></h1>
	</header>

	<!-- This form receives a "blank" object called JobForm through the Model. 
		 A programmer must bind parts of the form to fields in a form.
		 
	     I use 
			th:object="${JobForm}"
		 to short my code so that elements within the form can now be bound to the form's fields
		 by using *{}
		 
	     th:field binds data from the form to the object's fields
	     	th:field=*{JobName}
	     which could be rewritten in full as 
	     	th:field="${JobForm.JobName}" 
	     but I decided to take advantage of th:object to shorten the code. 
	     	     
		 The user provides the data in the form by typing into the text field which the 
		 application attempts to assign to the JobName field using the form's setter methods
		 but only if it satisfies the annotated limitation e.g. @Size(min=4, max=30)
		  
		 The object is then returned to the Post handler method.   
		 -->
		 <main>
	<form id="newjobForm" method="post" th:action="@{/newjob}" th:object="${aJobForm}">
		<label for="JobName" th:text="#{newjob.jobName}" ></label>
			                                         <!-- The span is connected to the JobName field through th:errors. It appears if there was a binding problem and  -->
			                                         <!--  displays the Size.JobName message from messages.properties --> 
		<input type="text" th:field="*{JobName}"/><span th:if="${#fields.hasErrors('JobName')}" th:errors="*{JobName}" >Error</span> 
		
		<br>
		
		<label for="JobDescription" th:text="#{newjob.jobDescription}" ></label>
			                                         <!-- The span is connected to the JobName field through th:errors. It appears if there was a binding problem and  -->
			                                         <!--  displays the Size.JobName message from messages.properties --> 
		<input type="text" th:field="*{JobDescription}"/><span th:if="${#fields.hasErrors('JobDescription')}" th:errors="*{JobDescription}" >Error</span> 
		<br>
		<input type="submit" th:value="#{newjob.addjob}"/>
	</form>
	<!-- This message is shown if the ${duplicate} variable was created. -->
	<h3 class="error" th:if="${duplicate}" th:text="#{newjob.duplicate}">Error</h3>
	</main>
	<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>

